################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdventOfCode2020/obj/Debug
/AdventOfCode2020/bin/Debug
/.vs
/AdventOfCode2020/.vs/AdventOfCode2020/v16
